<nav class="nav">
  <a class="nav-link active" href="/admin/categories">Categorias</a>
  <a class="nav-link active" href="/admin/users/create">Login</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
</nav>
     <br>
   <body>
       
      <div class="container">
          <div class="jumbotron">
              <h1 class="display-4">Bem vindo ao CRUD do Kauan</h1>
              <p class="lead">Este é um exemplo de CRUD SIMPLES com nodejs.</p>
              <hr class="my-4">
              <p>Clique no submenu Categorias, depois adicione, atualize e delete ou também acesse o um login básico.   </p>
      
            </div>
          </div>