<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge0">
    <title>Guiapress</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<nav class="navbar-dark">
    <a class="nav-link active" href="/admin/categories">Categorias</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
  </nav>
    
    <div class="container">
        <hr>
        <div class="card mt-5">
            <div class="card-header">
               <h2> Criação de usúario</h2>

            </div>
            <div class="card-body">
                <form action="/user/create" method="POST">

                <input class="form-control" name="email" type="email" placeholder="email@exemplo.com"><br>
                <input class="form-control" name="password" type="password" placeholder="********"><br>
                <button type="submit" class="btn btn-success btn-block">Criar</button> 
                </form>

            </div>
        </div>
    </div>





       
     <body>
         
    
           
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>


</html>
